altgraph==0.17.5
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
deep-translator==1.11.4
filelock==3.20.3
Flask==3.1.2
fsspec==2026.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
llvmlite==0.46.0
macholib==1.16.4
MarkupSafe==3.0.3
more-itertools==10.8.0
mpmath==1.3.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
openai-whisper==20250625
packaging==26.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pysubs2==1.8.0
regex==2026.1.15
requests==2.32.5
setuptools==80.10.2
soupsieve==2.8.3
srt==3.5.3
sympy==1.14.0
tiktoken==0.12.0
torch==2.10.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
